@font-face {    
    font-family: osregular;
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
  
@font-face {
    font-family: osbold;
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: 400;
    font-style: normal;
}
  
*{   /*отключить все отступы*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
  
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
a {
    text-decoration: none; 
    color: #ffffff;
}
 
@media (max-width: 640px) {
    .header {
        background-image: url(../images/banner-mobile.jpg);
    }
}

@media (min-width: 641px) and (max-width: 1199px) {
    .header {
        background-image: url(../images/banner-bg-tablet.jpg);
    }
}

@media (min-width: 1200px) {
    .header {
        background-image: url(../images/banner-bg.jpg);
    }
}

.header {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    padding: 27px 0 125px 0;   
    position: relative;
    z-index: 0; 
}
  
.header:after { /*накладываем маску*/
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6; 
    z-index: -1;
}

.header-title-text {
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;  
    font-size: inherit;
    font-family: osbold, sans-serif;
    line-height: 75px; 
}
 
/*Логотип, меню, навигация*/
@media (max-width: 640px) {
    .header {
        display: flex;
        flex-direction: column;
        
    }
    .header-logo {
        display: block;
        width: 75%;
        outline: none;
        margin: 209px auto 0;
    } 

    .header-title {
        margin: 44px auto 0;    
        width: 75%;
        font-size: 26px;
    }

    .menu-btn {
        position: absolute;
        top: 35px;
        right: 15px;
    }
}

@media (min-width: 641px) and (max-width: 1199px) {
    .header-logo {
        width: 160px;
        outline: none;
    } 

    .header-menu { 
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        /*margin: 8px 35px 0;*/
    }

    .header-title {
        margin: 100px auto 0; /**/
        width: 79.5%;
        font-size: 40px;
    }
}

@media (max-width: 1199px) {
    .menu-list {
        display: none;
    }
}

@media (min-width: 1200px) {
    .menu-btn {
        display: none;
    }

    .header-logo {
        width: 184px;
        outline: none;
    } 

    .header-menu { 
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 245px;
    }

    .menu-list {
        list-style-type: none;
        display: flex;
    }
  
    .menu-list-item:not(:last-child) {
        margin-right: 35px;
    }
  
    .menu-link {  
        font-size: 13px;
        font-family: osregular, sans-serif; 
        text-transform: uppercase;  
    }
  
    .menu-link:hover,
    .menu-link:focus {
        text-decoration: underline;
        cursor: pointer;
    }

    .header-title {
        margin: 100px auto 0; /**/
        width: 700px;
        font-size: 45px;
    }
}  
  
/*блок Сейчас в тренде*/
.trends-block {
    width: 100%;
}

.title-trends,
.title-shop {
    text-align: center;
    margin: 64px auto 5px auto; 
    font-size: 20px; 
    font-family: osbold, sans-serif;
    color: #0f0d0e;
    text-transform: uppercase;
}

.trends {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.trend-img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
    position: relative;
    z-index: 0;
}

@media (max-width: 640px) and (orientation: portrait) {
    .trend {
        width: 100%;
    }
    .trend:not(:last-child){
        margin-bottom: 2px;
    }
    .trend-name {
        font-size: 16px;
    }
}

@media (max-width: 640px) and (orientation: landscape) {
    .trend {
        width: 49.8%;
        margin-bottom: 2px;
    }
    .trend:nth-child(odd){
        margin-right: 0.4%;
    }
    .trend-name {
        font-size: 14px;
    }
}

@media (min-width: 641px) and (max-width: 1199px) {
    .trend-name {
        font-size: 17px;
    }
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: portrait) {
    .trend {
        width: 49.8%;
        margin-bottom: 2px;
    }
    .trend:nth-child(odd){
        margin-right: 0.4%;
    }
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
    .trend {
        width: 24.8%;
    }
}

@media (min-width: 1200px) {
    .trend {
        width: 24.8%; /*(1660-12марджины):4 в проценты*/
    }
    .trend-name {
        font-size: 20px;
    }
}

.trend {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #040a04;
    position: relative;
    z-index: 0;
    
    
    
}

.trend:after { /*маска */
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6; 
    z-index: 1;
}
 
.trend-text{
    width: 90%;
    border: 3px solid #b59f5b;
    padding: 5% 5%; /*37px 33px;*/
    position: absolute;
    bottom: 12.57%; /*17*/
    margin: auto 3.63%; /*24*/
    z-index: 2;
}

.trend-link {
    font-family: osbold, sans-serif;
    text-transform: uppercase;
    color: #ffffff;
}

/*основная информация, ширина @media*/
.basic-information {
    box-sizing: border-box;
}

@media (max-width: 640px) {
    .basic-information {
        width: 100%;
        padding: 12.5% 4.17% 0;
    }
}

@media (min-width: 641px) and (max-width: 1199px) {
    .basic-information {
        width: 100%;
        padding: 6.64% 4.56% 0;
    }
}

@media (min-width: 1200px) {
    .basic-information {
        width: 100%;
        padding: 3.86% 14.76% 0;
    }
}
/*лента новостей, сайдбар*/
.page {  
    display: flex;
    box-sizing: border-box;
    width: 100%; 
}

.news, .news-info {
    box-sizing: border-box;
}

@media (max-width: 640px) {
    .page {
        flex-direction: column;
        }
    .news {
        width: 100%;
    }
    .sidebar {
        width: 100%; 
        margin-top: 47px;
    }


}
@media (min-width: 641px) and (max-width: 1199px) {
    .news {
        width: 56.16%;
    }
    .sidebar {
        width: 39.11%; 
        margin-left: 4.73%;
    }
}

@media (max-width: 1199px) {
    .news-block {
        flex-direction: column;
    }
    .news-preview {
        width: 100%;
        }    
    .news-info {
        width: 100%;
        padding-bottom: 24px;
        border-bottom: 2px solid #eeeeee;
        
        margin-top: 17px;
    }

    .news-block:not(:last-child) {
        margin-bottom: 40px;
    }
}

@media (min-width: 1200px) {
    .news-block {
        display: flex;
    }
    .news {
        width: 65.56%;
    }
    .sidebar {
        width: 23.25%; 
        margin-left: 11.19%;
    }

    .news-block:not(:last-child) {
        margin-bottom: 61px;
    }    
    .news-preview {
    width: 49.67%; /*381px;*/
    }    
    .news-info {
        width: 53.57%;
        margin-left: 3.9%; /*30px;*/
    }


}
  
.news-img {
    display: block;/**/
    width: 100%; 
    object-fit: contain;
}

/*Категории*/
.category {  
    padding: 0;
    margin-bottom: 10px; /**/
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
}
  
.category-item:not(:last-child) {
    margin-right: 18px;
}
  
.category-link {
    text-decoration: none;
    font-size: 14px;
    font-family: osbold;
    text-transform: uppercase;
    color: #b59f5b;   
}
/*заголовок новостей*/  
.news-name {   
    font-size: 20px; 
    font-family: osbold, sans-serif;
    line-height: 24px;
    color: #0f0d0e;
    text-transform: uppercase;
    margin-bottom: 0; 
    padding: 0;
    margin-top: 0;
}
  
.date-author {
    display: flex;
    padding: 0;
    margin-left: 0;
    margin-bottom: 45px; 
    margin-top: 25px;
}
  
.news-date {
    font-size: 12px;
    font-family: osregular, sans-serif;
    color: #888888;
    margin-right: 15px;
    margin-left: 0;
}
  
.news-author {
    font-size: 12px;
    font-family: osbold, sans-serif;
    color: #000000; 
}
  
.news-description {
    font-size: 15px;
    font-family: osregular, sans-serif;
    line-height: 22px;
    color: #0f0d0e; 
    margin-top: 0;
}

.news-description-next {
    margin-top: 10px;
}
  
/*сайдбар*/
.sidebar {
    box-sizing: border-box;
}
  
/*новости сайдбар*/
.news-sidebar {
    display: block;
    width: 100%;
}
  
.tittle-sidebar {  
    font-family: osbold, sans-serif;
    font-size: 14px;
    color: #0f0d0e;
    text-align: center;
    display: block;
    text-transform: uppercase;
}

.news-block-sidebar {
    display: flex;
    margin-bottom: 21px;
}
  
.news-img-sidebar {
    display: block;
    width: 71px;
}
  
.news-info-sidebar{
    box-sizing: border-box;
    margin-left: 20px;
}
  
.new-date-sidebar {
    font-size: 12px;
    font-family: osregular, sans-serif;
    color: #000000; 
    margin: 0;
}
  
.news-name-sidebar {
    font-size: 14px;
    font-family: osbold, sans-serif;
    color: #000000; 
    line-height: 18px;
    text-transform: uppercase;
    margin-top: 4px;
}
  
/*поиск сайдбар*/
.search-sidebar {
    margin-top: 62px; 
    width: 100%;
}
  
.search {  
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.search-label {
    flex-grow: 1;
}
/*скрытая одпись*/  
.meta-hidden { 
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}
  
.search-input {  
    box-sizing: border-box;
    padding-left: 18px;
    padding-right: 18px;
    width: 100%; 
    height: 48px;
    font-size: 13px;
    border: none;
    background-color: #f4f7f6;
}
  
.search-btn {
    border: none;
    width: 50px;
    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
    background-color: #b59f5b;
}
  
/*форма подписки*/
.mail-sidebar {
    margin-top: 57px;
}
  
.mail-input {  
    box-sizing: border-box;
    padding-left: 18px;
    padding-right: 18px;
    width: 100%;
    height: 48px;
    font-size: 13px;
    border: none;
    background-color: #f4f7f6;
}
  
.mail-btn {
    margin-top: 16px;
    height: 48px;
    border: none;
    width: 100%;
    background-color: #b59f5b;
    font-family: osbold, sans-serif;
    text-transform: uppercase;
    color:#ffffff;
    font-size: 13px;
}
  
/*теги*/
.tegs-sidebar {
    margin-top: 57px;
}

.list-tegs {
    list-style: none;
    display: flex;
    flex-wrap: wrap; 
}
  
.tegs-item {  
    margin-bottom: 6px;
    margin-left: 5px;
    margin-right: 5px;
}
  
.tegs-link{
    display: block;
    box-sizing: border-box;
    align-items: center;
    align-content: space-between;
    text-decoration: none;
    font-family: osbold, sans-serif;
    text-transform: uppercase;
    color: #0f0d0e;
    font-size: 12px;
    border: 2px solid #eeeeee;
    padding: 4px 11px;
}
  
/*темы сайдбар*/
  
.themes-sidebar {
    margin-top: 52px;
    /*width: 272px;  */
}
  
.list-theme {
    list-style: none;
    margin-left: 0;
}
  
.theme-item {  
    margin-left: 0;
    margin-top: 10px;
}
  
.theme-item::after {
    content: " ";
    display: block;
    margin-top: 10px;
    /*margin-bottom: 15px;*/
    width: 100%;
    height: 1px;
    background:#eeeeee;
}
  
.theme-link {
    text-decoration: none;
    font-family: osbold, sans-serif;
    color: #000000;
    font-size: 14px;
    padding: 0 5px 0 2px;
    margin-left: 0;
}
  
.theme-counter {
    vertical-align: super;
    color:#b59f5b;
    font-family: osbold;
    font-size: 12px;
}
  
/*товары*/
.shop-block {
    width: 100%; 
    margin-bottom: 64px;  
}

.shops {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /*flex-start;*/
    flex-wrap: wrap;
}

@media (max-width: 640px) {
    .shop {
        width: 100%;
    }

    .shop:not(:last-child) {
        margin-bottom: 25px;
    }

    .product-title {
        font-size: 17px;
    }
}

@media (min-width: 641px) and (max-width: 1199px) {
    .shop {
        width: 48.3%;
    }

    .shop:nth-child(-n + 2) {
        margin-bottom: 25px;
    } 
    .shop:nth-child(odd) {
        margin-right: 1.7%;
    }

    .shop:nth-child(even) {
        margin-left: 1.7%; 
    }

    .product-title {
        font-size: 17px;
    }
}

@media (min-width: 1200px) {
    .shop {
        width: 29.57%;
    }

    .shop:not(:last-child) {
        margin-right: 2.82%;
    }
    
    .shop:not(:first-child) {
        margin-left: 2.82%;
    }

    .product-title {
        font-size: 20px;
    }
}

.shop {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}

.shop-img {
    width: 100%; 
    object-fit: contain;
    padding: 0 25px;
    position: relative;
    z-index: 0;
}

.shop-text {
    width: 100%;
    padding: 55px 25px 25px;
    margin-top: -30px;
    border: 3px solid #b59f5b;
    position: relative;
    z-index: 1;
    flex-grow: 1;
}

.product-title  { 
    font-family: osbold, sans-serif;
    line-height: 24px;
    color: #0f0d0e;
    text-transform: uppercase;
    margin-bottom: 0; 
    padding: 0;
    margin-top: 0;
}

.product-description {
    font-size: 15px;
    font-family: osregular, sans-serif;
    line-height: 22px;
    color: #0f0d0e; 
    margin-top: 0;
}

.product-footer {
    margin-top: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-price-old {
    text-decoration: line-through;
    font-family: osbold, sans-serif;
    text-transform: uppercase;
    color: #0f0d0e;
    font-size: 14px;
}

.product-price {
    font-family: osbold, sans-serif;
    text-transform: uppercase;
    color: #0f0d0e;
    font-size: 20px;
}

.product-rub {
    font-family: inherit;
    text-transform: uppercase;
    color: inherit;
    font-size: inherit;
}

.product-btn {
    height: 50px;
    width: 141px;
    border: none;
    background-color: #b59f5b;
    font-family: osbold, sans-serif;
    text-transform: uppercase;
    color:#ffffff;
    font-size: 14px;
}

.shop-link {
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    color: #b59f5b; 
}

.product-btn:hover, 
.product-btn:focus {
    background-color: #323232;
    cursor: pointer;
}

.shop-link:hover,
.shop-link:focus {
    text-decoration: underline;
    cursor: pointer;
}

/*футер и соцсети*/

.footer {
    width: 100%;
    padding-bottom: 40px;
}
  
.address-socials {
    background-color: #f4f7f6;
    margin-bottom: 70px;
    background-size: 100%;
}
  
.socials {
    list-style: none;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 33px 0;
}
  
.socials-item:not(:last-child) {
    margin-right: 28px;    
}
  
.socials-link {
    display: block;    
    width: 21px;
    height: 21px;    
    background-repeat: no-repeat;
    background-size: 21px;
    background-position: center;
}
  
.socials-link-twitter {
    background-image: url(../svg/004-twitter.svg);
    background-color: #f4f7f6;
}
  
.socials-link-pinterest {
    background-image: url(../svg/001-pinterest.svg);
    background-color: #f4f7f6;
}
  
.socials-link-facebook {
    background-color: #f4f7f6;    
    background-image: url(../svg/002-facebook-logo.svg);
}
  
.socials-link-instagramm {
    background-image: url(../svg/005-instagram.svg);
    background-color: #f4f7f6;
}
  
.socials-link-tumbl {
    background-image: url(../svg/003-tumblr.svg);
    background-color: #f4f7f6;
}
  
.socials-link-text {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}
  
/*копирайт*/
.copyright {  
    font-family: osbold, sans-serif;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    color:#999999;  
}

/*ховер, фокус, полоска*/ 
.tittle-sidebar::after,
.title-trends::after,
.title-shop::after {  
    content: " ";
    display: block;
    box-sizing: border-box;
    width: 66px;
    margin: 10px auto 25px auto;
    border-bottom: 3px solid #e1d9bd;
}

.theme-link:hover,
.theme-link:focus {
    color: #b59f5b;
    cursor: pointer;
}
  
.mail-btn:hover,
.mail-btn:focus,
.search-btn:hover,
.search-btn:focus {
    background-color: #323232;
    cursor: pointer;
}
  
.mail-input:focus,
.search-input:focus {
    outline: 1px solid #b59f5b;
    outline-offset: -2px;
}
  
.news-name-sidebar:hover,
.news-name-sidebar:focus,
.news-name:hover,
.news-name:focus,
.news-author:hover,
.news-author:focus,
.trend-link:hover,
.trend-link:focus {
    color: #b59f5b;
    cursor: pointer;
}

.category-link:hover,
.category-link:focus {
    text-decoration: underline;
    cursor: pointer;
}

.tegs-link:hover {
    border: 2px solid #b59f5b;
}

/*бургер-меню*/
.menu-btn {
    width: 24px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background-color: transparent;
}

.burger-line {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
}

.burger-line:not(:last-child) {
    margin-bottom: 6px;
}

